# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [3]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

## The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [5]:
print(x)

banana

## The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [7]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [8]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [12]:
for x in range(0, 100, 2):
  print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [15]:
list = ["geeks", "for", "geeks"]
for i in range(len(list)):
    print (list[i])

geeks
for
geeks

In [17]:
for i in range(1, 5):
    for j in range(i):
         print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [18]:
for i in range(0,10,2):
    print (i)

0
2
4
6
8

In [23]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [24]:
a = ["One", "Two", "Three"]
b = [1, 2, 3]

for i, j in zip(a, b):
    print(i, j)

One 1
Two 2
Three 3

In [30]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")
    file_len = len(cities)

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

In [31]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,file_len+1):
    print(f"{index}: {city}")

6: New York
7: Beijing
8: Cairo
9: Mumbai
10: Mexico

## Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [32]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [33]:
print(x)

5

## Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [34]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [37]:
for x in [0, 1, 2]:
    pass